---
layout: default
title: Contact
permalink: "/events/"
comments: false
---
<section id="researchArea" class="p-5">
  <div class="container">
      <h1 style="margin-top:50px;">Events</h1>
      <h3 style="margin-top:50px;">Upcoming Events</h3>
      {% for event in site.posts%}{% if event.category == "events" %}
      {% if event.status == "upcoming" %}
      <div class="row align-items-center justify-content-between" style="border-bottom: 2px solid black">
        {% include events_info.html %}
      </div>
    {%endif%} {%endif%} {% endfor %}

     <h3 style="margin-top:50px;">Past Events</h3>
      {% for event in site.posts%}{% if event.category == "events" %}
      {% if event.status == "past" %}
      <div class="row align-items-center justify-content-between" style="border-bottom: 2px solid black">
        {% include events_info.html %}
      </div>
      {%endif%}{%endif%} {% endfor %}
</div>


