---
layout: default
title: Contact
permalink: "/people/"
background: "/img/bg-index.jpg"
comments: false
---

<!-- Home Intro The background and the text on it!
================================================== -->
{% if page.url == "/people/" %}
<div>
  <img src="{{site.baseurl}}/assets/images/people.png" />
</div>
{% endif %}

<!-- Faculty
================================================== -->
<center><h1 style="margin: 50px">Faculty</h1></center>
<section class="row">
  <div class="row">
    {% for people in site.posts%}{% if people.category == "faculty" %}
    <div class="col-md-4 mb-5">{% include people.html %}</div>
    {% endif %} {% endfor %}
  </div>
</section>

<center><h1 style="margin: 50px">Students</h1></center>

<h2 style="margin-bottom: 30px; border-bottom: 1000px;">Present</h2>
<section class="row">
  <div class="row">
    {% for people in site.posts%}{% if people.category == "student" %}
    {% if people.status == "present" %}
    <div class="col-md-3 mb-4">{% include people.html %}</div>
    {% endif %}{% endif %} {% endfor %}
  </div>
</section>

<h2 style="margin-bottom: 30px; border-bottom: 1000px;">Past</h2>
<section class="row">
  <div class="row">
    {% for people in site.posts%}{% if people.category == "student" %}
    {% if people.status == "past" %}
    <div class="col-md-3 mb-4">{% include people.html %}</div>
    {% endif %}{% endif %} {% endfor %}
  </div>
</section>
